<%- include("partials/header") %>
<h1>Příspěvky</h1>
<h3><a href="/posts/add">Přidat příspěvek</a></h3>
<ul>
    <% posts.forEach(function(post) { %>
        <li>
            <%= post.text %><a href="/posts/edit/<%= post._id %>">Upravit</a><a href="#" class="delete-post" data-id="<%= post._id %>">Smazat</a>
        </li>
    <% }); %>
</ul>
<%- include("partials/footer") %>
